@import "_reset"

*
  box-sizing: border-box

body
  background: #111

#app
  padding: 20px
  width: 95%
  max-width: 1200px
  margin: 20px auto
  border: solid 1px rgb(45, 45, 45)
  border-radius: 3px
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;

.main-pane
  width: 70%

  canvas
    width: 100%

.picker
  height: 100px
  position: relative

  ul
    display: block
    height: 100%
    width: 100%

  li
    top: 5%
    height: 90%
    width: 16.667%
    float: left
    background-size: cover
    background-position: center center
    position: relative
    opacity: 0.5
    cursor: pointer
    border: solid 4px #111

    &.active
      opacity: 1

    &:hover
      opacity: 0.85

.picker
  li.image, li.video
    cursor: pointer
    background-color: #FFF
    background-image: url("/images/image_upload.png")
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center center;

  li.video
    background-image: url("/images/video.png")

  input
    cursor: pointer
    position: relative
    height: 100%
    width: 100%
    opacity: 0
