doctype html

html
  head
    link(href="/css/app.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

  body
    #app
      .left.main-pane
        .picker
          .headline.section examples
          ul
            li.static.active(style="background-image:url('/images/night.jpg')")
            li.static(style="background-image:url('/images/melting.jpg')")
            li.static(style="background-image:url('/images/hsv.png')")
            li.static(style="background-image:url('/images/heart_eyes.png')")
          .cl
        .art
          canvas(style="display: none")
          canvas


      .left.secondary
        .headline.section make your own
        .section
          .btn-group
            .btn.image Upload
              input(type="file")
            .btn.video Video

        .pipeline
          ul
            li
              label Sample Rate 1
              input.sample(type="range", min=0, value=50, max=100, step=5)
            li.group
              ul
                li
                  label Sample Rate 2
                  input.sample(type="range", min=0, value=10, max=100, step=5)
                  .indent
                    label(for="r1") Resampler?
                    input.over-sample(type="checkbox", id="r1")
            li.group
              ul
                li
                  label Sample Rate 3
                  input.sample(type="range", min=0, value=5, max=100, step=5)
                  .indent
                    label(for="r2") Resampler?
                    input.over-sample(type="checkbox", id="r2")
            li
              label(for="clear") Clear between draws?
              input.clear-between(id="clear" type="checkbox", checked="checked")

        .section
          .download.btn Download!

  script(src="/js/color_hard_map.js")
  script(src="/js/main.js")
