doctype html

html
  head
    link(href="/css/app.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

  body
    #app
      .left.main-pane
        .picker
          .picker-headline examples
          ul
            li.static.active(style="background-image:url('/images/night.jpg')")
            li.static(style="background-image:url('/images/melting.jpg')")
            li.static(style="background-image:url('/images/hsv.png')")
            li.static(style="background-image:url('/images/heart_eyes.png')")
        .art
          canvas(style="display: none")
          canvas


      .left.secondary
        .pipeline
          ul
            li
              label Sample Rate
              input.sample(type="range", min=0, value=50, max=100, step=5)
            li
              label Sample Rate
              input.sample(type="range", min=0, value=10, max=100, step=5)
              label Over Sample?
              input.over-sample(type="checkbox")
            li
              label Sample Rate
              input.sample(type="range", min=0, value=5, max=100, step=5)
              label Over Sample?
              input.over-sample(type="checkbox")
            li
              label Clear Between?
              input.clear-between(type="checkbox", checked="checked")
            li
              button.download download!

          //- li.image
          //-   input(type="file")
          //- li.video()

  script(src="/js/color_hard_map.js")
  script(src="/js/main.js")
