doctype html

html
  head
    link(href="/css/app.css", rel="stylesheet")
  body
    #app
      .left.main-pane
        .art
          canvas(style="display: none")
          canvas
      .left.secondary
        .pipeline
          ul
            li
              label Sample Rate
              input.sample(type="range", min=0, value=20, max=100, step=5)
            li
              label Sample Rate
              input.sample(type="range", min=0, value=20, max=100, step=5)
            li
              label Sample Rate
              input.sample(type="range", min=0, value=20, max=100, step=5)
            li
              label Clear Between?
              input.clear-between(type="checkbox" value="true")

      .picker.cl
        ul
          li.static.active(style="background-image:url('/images/night.jpg')")
          li.static(style="background-image:url('/images/hsv.png')")
          li.static(style="background-image:url('/images/heart_eyes.png')")
          li.static(style="background-image:url('/images/melting.jpg')")
          li.image
            input(type="file")
          li.video()

  script(src="/js/color_hard_map.js")
  script(src="/js/main.js")
